# Get these from your Supabase project: Project Settings -> API
NEXT_PUBLIC_SUPABASE_URL=https://mvitrxkvwuxutmtzxztz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im12aXRyeGt2d3V4dXRtdHp4enR6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAwNTY2NzYsImV4cCI6MjEwNTYzMjY3Nn0.RnhTpayZUrAmoZZt77WzW9oh3xbAO41iwbQwsai4NPc
